.icon {
    color:white;
    cursor: pointer;
}

.icon:hover {
    animation: up-down 1s infinite linear;
    border-radius: 50%;
}

.accordion {
    background-color:#014703;
    width: 81%;
    margin-bottom:10px;
    border-radius:10px;
}

@keyframes up-down {
    0% { 
        transform: translateY(0);
     }
    50% { 
        transform: translateY(10px);
        background-color: white;
        color:black;
     }
    100% { 
        transform: translateY(0);
    }
 }