.icon {
    color:white;
    cursor: pointer;
}

.icon:hover {
    animation: up-down 1s infinite linear;
    border-radius: 50%;
}

.accordion {
    background-color:#014703;
    width: 81%;
    margin-bottom:10px;
    border-radius:10px;
}

#my-alert {
    animation: aparece 1s normal linear;
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid transparent;
    z-index: 1;
  }

@keyframes up-down {
    0% { 
        transform: translateY(0);
     }
    50% { 
        transform: translateY(10px);
        background-color: white;
        color:black;
     }
    100% { 
        transform: translateY(0);
    }
 }

 @keyframes aparece {
    0% { 
        transform: translate(-50%, -350%);
     }
    100% { 
        transform: translate(-50%, -50%);
        
    }
 }